.home-content-section {
 height: 40vh;
  width: 100%;
  padding: 20px 20px;
  @media (max-width: $layout-breakpoint-small) {
  font-size: 16px;
  }
  @media (max-width: $layout-breakpoint-medium) {
    display: inline-block;
    }


  h1 {
    font-size: 2.7rem;
    font-weight: 600;
  }
  h2 {
      font-size: 2rem;
      margin-top: 20px;
      margin-bottom: 10px;
      font-weight: 600;
  }
  .copy {
    text-align: left;
    max-width: 80%;
    margin-top: 12px;
    font-weight: 400;
    font-size: 1.6rem;
    

    @media (max-width: $layout-breakpoint-small) {
      width: 100%;
      max-width: 100%;
      font-size: 16px;
    }
    @media (max-width: $layout-breakpoint-xsmall) {
      font-size: 16px;
    }
  }
  .list {
    margin: 0 1vw ;
    @media (max-width: $layout-breakpoint-small) {
      font-size: 15px;
    }
  }
  li::before{
    content: '-';
  } 
}

