.top-picks-banner {
    // width: 100%;
    // height: 10vh;
    // background-color: $black;
    // color: $white;
    // display: block;
  
    h1 {
        color: $white;
        text-align: center;
        // position: absolute;
        // left: 50%;
        // top: 50%;
        // -webkit-transform: translate(-50%, -50%);
        // transform: translate(-50%, -50%);
    }
    a {
        color: $white;
        text-align: center;
    }
}