.about {
  width: 100%;
  min-height: 70vh;
  .about-section {
    margin: 8.66vw;

    // @media (max-width: $layout-breakpoint-small) {
    //     display: flex;
    //     margin: 10vw;
    //   }

    .p-text {
      text-align: center;
      font-size: 2.3rem;
      line-height: 1.3;
    }
    .about-image {
      @media (max-width: $layout-breakpoint-small) {
        margin-right: 20px;
      }
    }
  }
}
