.brands {
    .brand-titles {
      position: relative;
      text-align: center;
      color: white;
      font-size: 2.4rem;
      text-shadow: 2px 2px #646060;
      line-height: 1.1;
  
      .brand-title {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        font-size: 3rem;
      }
  
      .left-col {
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
      .right-col {
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
      .catalog-banner{
        // z-index: 2;
      }
    }
    .title {
      font-size: 3.7rem;
      font-weight: 600;
      text-align: center;
      margin: 2vw;
    }

  }
  