.contact-section {
  text-align: center;
  margin: 0 1em;
  // min-height: 40vh;

  @media (max-width: $layout-breakpoint-large) {
    display: block;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  @media (max-width: $layout-breakpoint-medium) {
    // margin-left: 0;
    // margin-right: 0;
  }

  @media (max-width: $layout-breakpoint-small) {
    display: block;
    // padding: 10px;
  }
  @media (max-width: $layout-breakpoint-medium) {
    display: block;
    padding: 0;
  }
  button,
  input,
  select,
  textarea {
    font-family: inherit;
  }
  .contact-button, .clear {
    width: 100px;
    height: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
  }
  // textarea { resize: none; }
  a {
    color: #000;
  }
  .contact-title {
    font-size: 2.7rem;
    font-weight: 700;
    padding: 20px;
    @media (max-width: $layout-breakpoint-small) {
      font-size: 2rem;
      padding: 0;
    }
  }

  .contact-copy {
    padding: 20px;
    @media (max-width: $layout-breakpoint-small) {
      font-size: 1.4rem;
      padding: 0;
    }
    @media (max-width: $layout-breakpoint-large) {
      margin: 0 10vw;
    }
  }
  .email {
    // padding: 20px 20px;
    margin-bottom: 2vw;
  }
  .upload {
    padding: 1em;
    input {
      margin-left: 10px;
    }
  }
  .form-section {
    margin-top: 2vw;
    // margin-bottom: 6vw;
    input,
    textarea {
      margin-left: 10px;
      background-color: inherit;
    }

    .form-name-label,
    .form-email,
    .form-subject,
    .form-message,
    .upload {
      font-size: 1.6rem;
      display: block;
    }

    .upload > input {
      border-bottom: none !important;
      margin: 20px;
    }
    .clear {
      border-bottom: none;
    }
    input:focus,
    textarea:focus,
    select:focus {
      outline: none;
    }
    textarea,
    input {
      border: none;
      border-bottom: 2px solid black;
    }
  }
}
