.faq {
  text-align: center;
  @media (max-width: $layout-breakpoint-large) {
  }

  @media (max-width: $layout-breakpoint-medium) {
    // text-align: l;
  }

  @media (max-width: $layout-breakpoint-small) {
  }
  @media (max-width: $layout-breakpoint-medium) {
  }
  .wrapper {
    margin: 0 20vw;
    @media (max-width: $layout-breakpoint-medium) {
        margin: 0;
      }
    
  }

  h1,
  span {
    font-size: 3rem;
    font-weight: 600;
    margin: 1vw 0;
    @media (max-width: $layout-breakpoint-medium) {
        text-align: center;
      }
  }
  h2 {
    font-size: 2rem;
    font-weight: 500;
    margin: 1vw 0;
    @media (max-width: $layout-breakpoint-medium) {
      margin: 1em;
    }
    
  }
  p {
    margin: 1vh 2vw;
    color: #3c3c43;
    @media (max-width: $layout-breakpoint-medium) {
      margin: 1em;
    }
  }
}

.link {
  margin-left: 2vw;
  font-size: 2rem;
  color: $black;
}
