.products-grid {
  margin-top: 4vh;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  margin-bottom: 4vh;

  @media (max-width: $layout-breakpoint-large) {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
  }

  @media (max-width: $layout-breakpoint-medium) {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
  }

  @media (max-width: $layout-breakpoint-small) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
  }
  @media (max-width: $layout-breakpoint-xsmall) {
    gap: 10px;
  }

  .image-wrapper {
      
      @media (max-width: $layout-breakpoint-large) {
        width: 28vw;  
      }
      @media (max-width: $layout-breakpoint-medium) {
        width: 400px;  
      }
      @media (max-width: $layout-breakpoint-small) {
        width: 100%;  
      }
      // @media (max-width: $layout-breakpoint-xsmall) {
      //   width: 23.75vw;  
      // }
     
  }

 
  h4, a {
      font-size: 20px;
      text-align: left;
    //   padding: 1vw 0;
      color: $black;
      text-decoration: underline;
  }
  h4 {
    max-width: 300px;
    @media (max-width: $layout-breakpoint-medium) {
        font-size: 16px;
        padding: 0;
      }
  }
}

.products-title {
    h1 {
        font-size: 16px;
        text-align: center;
        font-weight: 500;
    }
}
