// .services {
//   // display: grid;
//   display: flex;
//   // grid-template-columns: repeat(2, 1fr);
//   gap: 0;
//   width: 100%;
//   height:auto;
//   // padding-bottom: 10vh;
//   //

//   // @media (max-width: $layout-breakpoint-medium) {
//   //   display: block;
//   // }

//   // .grid-item-1 {
//   //   grid-column: 1;
//   //   @media (max-width: $layout-breakpoint-small) {
//   //     margin-bottom: 12px;
//   //     display: block;
//   //   }
//   //   @media (max-width: $layout-breakpoint-medium) {
    
//   //     display: flex;
//   //   }
//   // }
//   // .grid-item-2 {
//   //   grid-column: 2;
//   //   overflow: hidden;
//   //   @media (max-width: $layout-breakpoint-small) {
//   //     display: none;
//   //   }
//   //   @media (max-width: $layout-breakpoint-medium) {
    
//   //     // display: none;
//   //   }
//   // }

//   h1 {
//     font-size: 3.7rem;
//     font-weight: 600;
//   }
// }

.services {
  width: 100%;
  display: flex;
    @media (max-width: $layout-breakpoint-medium) {
    display: block;
  }
  .left-wrap {
    // width:50%;
    flex: 1;
    @media (max-width: $layout-breakpoint-medium) {
      padding-bottom: 4vh;
    }
  }
  .right-wrap {
    // width: 50%;
    flex: 1;
  }
}