.services {
    h1 {
        font-size: 3.7rem;
        margin-left: 4vw;
        margin-top: 6vw;
        font-weight: 600;
    }

    .copy {
        max-width: 600px;
        margin-left: 4vw;
        padding-top: 12px;
    }
}