.top-picks {
  .tp-title {
    font-size: 2rem;
    margin: 0 40px;
    text-align: center;
  }
  .thumbnail-image {
    width: 500px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 20px !important;
  }
  .breadcrumb {
      margin-left: 10px !important;
  }
}
