* {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
   
  }
  
  body {
    font-size: 16px;
    background-color: $background;
    color: $black;
    line-height: 1.5 !important;
  
  }

  main {

    overflow-x: hidden;
    overflow-y: hidden;
    main::-webkit-scrollbar {
        display: none;
      }
      
      /* Hide scrollbar for IE, Edge and Firefox */
      .main{
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }

  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 2.75rem 0 1.05rem;
    line-height: 1.15;
  }
  
  h1 {
    margin-top: 0;
    font-size: 3.052em;
  }
  
  h2 {
    font-size: 2.441em;
  }
  
  h3 {
    font-size: 1.953em;
  }
  
  h4 {
    font-size: 1.563em;
  }
  
  h5 {
    font-size: 1.25em;
  }
  
  small,
  .text_small {
    font-size: 0.8em;
  }
  
  a {
    text-decoration: none;
    color: $text;
    transition: ease-in-out 0.2s;
    &:hover {
      opacity: 0.5;
    }
    &.no-hover {
      &:hover {
        opacity: 1;
      }
    }
  }
  
  ul {
    margin: 0;
    padding: 0;
    span {
      font-size: 0.875rem;
      font-weight: 400;
      margin-bottom: 1rem;
      display: block;
      letter-spacing: 0.05rem;
    }
    .columns {
      display: flex;
      .column {
        &:first-child {
          margin-right: 2rem;
          @media (max-width: 680px) {
            margin-right: 8rem;
          }
        }
      }
    }
  }
  
  .app {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  
    .smooth-scroll {
      padding-bottom: 2rem;
    }
  }


  .container {
    flex-grow: 1;
    margin: 0 auto;
    padding: 0 32px;
    position: relative;
    max-width: 90.66vw;
    width: 100%;
    &.fluid {
      padding: 0;
      margin: 0;
      max-width: 100% !important;
    }
  }
  
  .body-lock {
    overflow-y: hidden;
  }


body {
    background: $background;
}


// .home-services-grid {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     margin: 0 auto !important;
//     gap: 0;
    
//     img {
//         width: 98%;
//     }
//     @media (max-width: $layout-breakpoint-small) {
//         display: flex; 
//         margin-bottom: 20vh !important;
//     }
//   }